body {
    background-color: rgb(65, 115, 207);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    width: 90%;
    max-width: 600px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452);
}

footer {
   
    font-style: italic;
    text-align: center;
    padding: 10px;
 
}
cdd {
    color: rgb(250, 207, 143);
}
#msg {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 15px;
}

#foto-container {
    text-align: center;
    margin-top: 20px;
}

